body {
  font-size: 32px;
}

h1 {
  margin: 0px;
}

article {
  background-color: #00ff00;
}

footer {
  background-color: yellow;
  text-align: center;
}

.coluna1, .coluna2 {
  background-color: #cccccc;
}

.coluna1 {
  float: left;
  width: 48%;
}

.coluna2 {
  float: right;
  width: 48%;
}

.clearfix {
  clear: both;
}
